/* line 2, ../sass/style.scss */
.field--name-field-related-content > .field__items > .field__item {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  font-size: 1em;
  margin-right: 1em;
}
/* line 8, ../sass/style.scss */
.field--name-field-related-content > .field__items > .field__item h2 {
  font-size: 1.3em;
}
/* line 11, ../sass/style.scss */
.field--name-field-related-content > .field__items > .field__item p {
  font-size: 0.8em;
}
/* line 14, ../sass/style.scss */
.field--name-field-related-content > .field__items > .field__item img {
  width: 100%;
  height: auto;
}
