#block-views-news-list-block{
    float: left;
}

#block-views-news-list-block h2.block__title{
    font-size: 18px;
    line-height: 1em;
    font-weight: 500;
    margin: 0 auto 15px;
    color: #0f69b4;
}

#block-views-news-list-block section{
    float: left;
    clear: none;
    width: 48%;
}

#block-views-news-list-block section h2,
#block-views-news-list-block section h2 a{
    font-size: 22px;
    color: #0f69b4;
    line-height: 100%;
}

#block-views-news-list-block section h2{
    margin-bottom: 0.3em;
}

#block-views-news-list-block section.news-info{
    padding-top: 1em;
    padding-left: 1em;
}

#block-views-news-list-block section.news-info .date{
    font-weight: normal;
    color: #787878;
    font-size: 11px;
    margin-bottom: 0.5em;
}