.l-content .content-wrapper,
.front.page-node .l-content .content-wrapper{
  background: #E6E6E6;
  padding: 0px;
}

.page-node,
.page-user{
  .l-content .content-wrapper{
    background: white;
    padding: 25px;
  }
}

/**
 * CKEditor
 */
body.cke_editable.cke_editable_themed{
  background: white;
}

/**
 * Move sidebar to bottom or left...
 */
@include susy-breakpoint($tab-size, 12) {
  .has-two-sidebars,
  .has-one-sidebar{
    .l-content {
      @include span(12);
    }
    .l-region-sidebars-wrapper {
      @include span(12); 
    }
  }
}
@include susy-breakpoint($desk-size, 16) {
  .has-two-sidebars,
  .has-one-sidebar{
    .l-content {
      @include span(11); 
    }
    .l-region-sidebars-wrapper {
      @include span(5 last); 
    }
  }
}

/**
 * tabledrag-handle
 */
.tabledrag-handle{
  display: block;
  width: 25px;
  height: 25px;

  .handle{
    height: 25px;
    width: 25px;
  }
}
.page-node-add,
.page-node-edit{
  .field-type-image.field-widget-image-image{
    .image-widget.form-managed-file{
      .image-preview{
        max-width: 19%;
      }
      .image-widget-data{
        max-width: 80%;
      }
    }
  }
}

/* line 1, ../sass/base/_sidebars.scss */
.front div.l-region-sidebars-wrapper {
  margin-top: 0px;
}

/**
 * Imagefield crop
 */
.imagefield-crop-widget.form-managed-file{
  img{
    max-width: none;
  }
}

/* Animated throbber fix */
html.js .form-autocomplete {
  background-image: url('../images/throbber_gob_cl.gif');
  background-position: 100% 10px;
  background-repeat: no-repeat;
}

html.js .throbbing {
  background-position: 100% -17px;
}