/**
 * Style for general nodes
 */
.field--name-field-related-content{
  & > .field__items{
    & > .field__item{
      width: 190px;
      display: inline-block;
      vertical-align: top;
      font-size: 1em;
      margin-right: 1em;
      margin-bottom: 10px;
      border-bottom: 3px solid rgb(192, 191, 191);

      article{
        background: #e6e6e6;
        h2{
            font-size: 1.3em;
            padding: 0px 15px;
            margin: 0px;
        }
        p{
            font-size: 0.8em;
            margin: 0px;
        }
        img{
            width: 100%;
            height: auto;
        }
        .node__content{
          margin: 0px;
        }
        .field--type-text-with-summary{
          padding: 0px 15px 15px;
        }
        .field--name-field-news-image{
          margin: 0px;
        }
        .date,
        .date-display-single{
          padding: 0px 15px;
          font-size: .7em;
          font-weight: bold;
        }
      }
    }
  }
}
