.node-type-event{
  .node__content{

    .field--name-field-event-image{
      margin-bottom: 20px;
    }
    .field--name-field-event-dates{
      float: left;
      margin: 5px 30px 20px 0px;
      border-left: 5px solid darken(#0f69b4, 20%);
      box-shadow: 0px 2px 5px #AEABAB;
      padding: 20px 20px 20px 70px;
      background: url("../images/calendar.png") no-repeat 10px 50%;
      background-color: #0f69b4;

      color: white;
      // font-weight: 300;
    }
  }
}