/**
 * Generates a basic block of general purpose
 */
@mixin basic-block($item-img: ".news-image", $item-info: ".news-info") {
  
  background: white;
  // overflow: auto;
  margin-bottom: 20px;
  border-bottom: 2px solid #bdc9d1;

  h2.block__title{
    font-size: 18px;
    line-height: 1em;
    font-weight: 500;
    margin: 0 auto 15px;
    color: #0f69b4;
  }

  section{
    display: inline-block;
    clear: none;
    vertical-align: top;
        
    h2,
    h2 a{
      font-size: 22px;
      color: #0f69b4;
      line-height: 100%;
    }
        
    h2{
      margin-bottom: 0.3em;
    }
        
    &.news-info{
      padding-top: 1em;
      padding-left: 1em;
    }

    &.news-info .date{
      font-weight: normal;
      color: #787878;
      font-size: 11px;
      margin-bottom: 0.5em;
    }
  }

  img{
    display: block;
  }

  #{$item-img}{
    display: none;

    @include breakpoint($tab-size) {
      display: inline-block;
      // max-width: 250px;
    }
    @include breakpoint($desk-size) {
      display: inline-block;
      // max-width: 100%;
    }
  }

  #{$item-info}{
    // width: 100%;

    @include breakpoint($tab-size) {
      width: calc(100% - 330px);
    }
  }
  
}