/**
 * Fonts mixins
 */

@mixin meta() {
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 700;
  color: #7a8791;
  display: block;
  font-size: 12px;
  margin: 0 0 15px;
}