body.maintenance-page{

  .form-type-checkboxes,
  .form-type-checkbox{
    margin: 10px 0px ;

    label{
      display: inline-block;
      position: relative;
      font-weight: bold;
      padding-left: 5px ;
      font-size: 1.1em;
      cursor: pointer;

      &::before{
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -21px;
        border: 1px solid $input-border;
        border-radius: 3px;
        background-color: #fff;
        @include transition(border 0.15s ease-in-out, color 0.15s ease-in-out);
      }

      &::after{
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 0;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 11px;
        color: $input-color;
      }
    }

    input[type="checkbox"]{
      opacity: 0;
      z-index: 1;

      &:focus + label::before{
        // @include tab-focus();
      }

      &:checked + label::after{
        font-family: $font-family-icon;
        content: $fa-var-check;
      }

      &:disabled + label{
        opacity: 0.65;

        &::before{
          background-color: $input-bg-disabled;
          cursor: not-allowed;
        }
      }

    }

    &.checkbox-circle label::before{
      border-radius: 50%;
    }

    &.checkbox-inline{
      margin-top: 0;
    }

    &.checkbox-single label{
      height: 17px;
    }
  }

  @include checkbox-variant('.form-type-checkboxes', $blue);
  @include checkbox-variant('.form-type-checkbox', $blue);
}



/**
 * Radio Buttons
 */
body.maintenance-page{
  
  .form-type-radio{

    position: relative;
    input[type="radio"]:checked + label::before {
      border-color: $blue;
    }

    label{
        display: inline-block;
        position: relative;
        padding-left: 5px;
    }
    label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out;
    }
    label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 4px;
      top: 4px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    }
    label::after {
      background-color: $blue;
    }
    input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }
}



