
body.maintenance-page{
  background: $bg-color;
  font-family: "Open Sans",sans-serif;

  #branding{

    background: darken($bg-color, 5%);
    h1{
      color: white;
    }
  }
  .page-wrapper{
    width: 810px;
    margin: auto;
    #page{
      background: #eee;
      margin-top: 20px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 4px 0px darken($bg-color, 20%);

      #sidebar-first{
        ol.task-list{
          width: 180px;
          li{
            border-bottom : 2px solid #bdc9d1;
            background: white;
            margin-bottom: 8px;
            color: black;
          }
          li.done{
            background-image: none;
            color: #adadad;
            position: relative;
            padding: 0.5em 20px 0.5em 20px;
            // text-decoration: line-through;
            &::before{
              font-family: $font-family-icon;
              content: $fa-var-check;
              font-size: 15px;
              color: rgb(74, 139, 74);
              display: block;
              position: absolute;
              right: -5px;
              top: -4px;
              background: white;
              padding: 2px 5px;
              border-radius: 50px;
            }
          }
          li.active{
            background: #0070bb;
            border-bottom: 2px solid #00426e;
            color: white;
          }
        }
      }

      #content{
        table{
          tr{
            // background: white;
            td{

            }
          }
          tr.ok{
            border-left: 5px solid $green;
            background: lighten($green, 48%);
          }
          tr.error{
            border-left: 5px solid red;
            background: lighten(red, 48%);
          }
        }

        fieldset{
          background: white;
          border: none;
          border-bottom: 3px solid #CDCDCD;
        }
        .features-content-gcl{
          margin-top: 30px;
        }
      }
    }
    .logo-wrapper{
      width: auto;
      float: right;

      .logo-tifon{
        text-align: left;
        margin-top: 20px;
        p{
          color: darken(white, 20%);
          margin-bottom: 0px;
        }
      }
    }
    
  }

  input.form-submit{
    background: none;
    @include sassy-button('flat', 5px, 14px, $blue, lighten($blue, 1%), white, 'inset');
  }

} 

/**
 * Forms
 */
body.maintenance-page{
  #page{
    input[type="text"],
    input[type="password"]{
        height: 22px;
        border: 1px solid #BABABA;
    }
    .form-item input.error, 
    .form-item textarea.error, 
    .form-item select.error {
      border: 2px solid $red;
    }
  }
}

/**
 * Messages
 */
body.maintenance-page{
  .messages{
    padding-left: 10px;
    background-image: none;
    &.error{
      border: 1px solid $red;
      border-left: 6px solid $red;
    }

    &.warning{
      border: 1px solid $yellow;
      border-left: 6px solid $yellow;
    }

    &.status{
      border: 1px solid $green;
      border-left: 6px solid $green;
      background: lighten($green, 40%);
      color: darken($green, 40%);
    }

    &.completed{
      display: none;
    }
  }
}
