@mixin checkbox-variant($parent, $color) {
  #{$parent} input[type="checkbox"]:checked + label{
    &::before {
      background-color: $color;
      border-color: $color;
    }
    &::after{
      color: #fff;
    }
  }
}