$bg-color: rgb(0,104,179);
$blue: #0070bb;
$blue_light: lighten($blue, 20%);

$red: rgb(234, 59, 69);
$yellow: #EDB24F;

$green: #779857;

$input-border: #A6A6A6;
$input-color: black;
$fa-var-check: "\f00c";
$fa-var-check-square: "\f046";
$font-family-icon: 'FontAwesome' !default;
$input-bg-disabled: #eee;


@import "compass";  
@import "sassy-buttons";
@import "_main.scss";
@import "_mixins.scss";
@import "_elements.scss";