/**
 * CSS for block view: News Featured
 */
.block--views-news-list-block-1{

  .view-content{
    .views-row{
      
      .views-field-field-news-image{
        img{
          width: 100%;
        }
      }
      .views-field-title{
        margin-top: 15px;
        display: block;
        padding: 0px 15px;
        .field-content{
          font-size: 22px;
          line-height: 1.2em;
          font-weight: 500;
          a{
            color: #0f69b4;
          }
        }
      }

      .views-field-created{
        margin-top: 15px;
        display: block;
        padding: 0px 15px;
        .field-content{
          @include meta;
        }
      }

      .views-field-field-news-description{
        display: block;
        padding: 0px 15px;
        .field-content p{
          // font-size: 12px;
          line-height: 150%;
        }
      }

      .views-field-service-links{
        padding: 15px;
        clear: both;
        ul{
          padding: 0px;
          li{
            display: inline-block;
            vertical-align: top;
          }
        }
      }

      @include breakpoint($tab-size){
        .views-field-title{
          float: left;
          width: 50%;
        }
        .views-field-field-news-description,
        .views-field-created{
          float: right;
          width: 50%;
        }
      }

      &::after{
        content: "";
        display: block;
        clear: both;
      }
    }
  }
}
