.l-region div.block--views-banner-block-block{
  padding: 0px;
  background: #E6E6E6;
  border-bottom: none;

  .view-content{
    text-align: center;
    .views-row{
      margin-bottom: 20px;
      display: inline-block;
      
      img{
        display: block;
      }
    }
  }
}