/**
 * General calendar designs
 */
.view .date-nav-wrapper{
  ul.pager{
    list-style: none;
    li.date-prev,
    li.date-next{
      list-style: none;
      a{
        padding: 2px 5px;
      }
    }
  }
}

/**
 * Block
 * List Events
 */
.block.block--views-gcl-event-calendar-block-2{
  padding: 0px;
  background: #E6E6E6;
  border: none;

  .block__title{
    padding: 15px 20px;
    margin: 0px;
    background: #0f69b4;
    border-bottom: 2px solid darken(#0f69b4, 20%);
    color: white;
  }

  .view-content{

    .item-list{
      ul{
        margin: 0px;
        padding: 0px;
        .views-row{
          margin: 0px;
          margin-top: 10px;
          list-style: none;
          padding: 5px 10px;
          border-bottom: 2px solid #bdc9d1;
          border-left: 5px solid #0f69b4;
          background: darken(white, 3%);
          transition: background .3s;

          &:hover{
            background: white;
          }

          .views-field-title-field a{
            color: #0f69b4;
            font-size: 16px;
            display: block;
            padding: 10px 0px;
          }
          .views-field-field-event-dates{
            padding-bottom: 10px;
          }
        }
      }
    }
  }

}

/**
 * Block
 * Calendar
 */
.block--views-gcl-event-calendar-block-1{
  .view-gcl-event-calendar{
    .view-header{
      .date-nav{
        .date-heading{
          h3{
            font-size: 1.3em;
          }
        }
        .pager{
          .date-prev{
            left: 5px;
            right: auto;
            list-style: none;
          }
          .date-next{
            list-style: none;
          }
          .date-next,
          .date-prev{
            // color: white;
            // background: $blue;
            background: white;
            border: 1px solid $blue;
            color: $blue;
            a{
              margin: 0px;
              padding: 2px 10px;
              font-size: 1.5em;
              line-height: 1em;
            }
          }
        }
      }
    }

    .view-content{
      .calendar-calendar{
        table.mini{
          thead{
            tr{
              th{
                background: white;
                // color: black;
                border: none;
                border-bottom: 1px solid #777;
              }
            }
          }
          tbody{
            tr{
              td{
                text-align: center;
                padding: 3px;
                a,
                .mini-day-off{
                  display: block;
                  padding: 3px 1px;
                  text-decoration: none;
                }
              }
              td.empty{

              }
              td.past{

              }
              td.today{
                background: white;
                .month{
                  background: #e6e6e6;
                  font-weight: bold;
                }
              }
              td.future{

              }
              td.has-events{
                a{
                  background: $blue;
                  color: white;


                  &:hover{
                    background: lighten($blue, 5%);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}