/**
 * Services list
 */

/**
 * General
 */
article.node--service{
  border-bottom: 2px solid #bdc9d1;
  background: #f2f2f2;
  // @include gallery(1 of 3);
  display: inline-block;
  vertical-align: top;
  width: 280px;
  margin: 0px 10px 10px;

  transition: opacity .3s;
  header{
    height: 180px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    .title-wrapper{
      display: table;
      width: 100%;
      height: 100%;
      h2{
        font-size: 2em;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        a{
          color: white;
          text-shadow: 0px 0px 10px black;
        }
      }
    }
  }
  .info {
    padding: 5px 15px;
  }

  &:hover{
    opacity: .8;
  }
}

/**
 * Style for node full
 */
article.node--service.node--full{
  display: block;
  margin: auto;
}

/**
 * Block
 */

div.block.block--views-service-list-block{
  background: transparent;
  border: none;
  .view-service-list{    
    &.view-display-id-block .view-content .views-row{
      display: inline-block;
    }
  }
}
