#slideshow {
  margin: 2px auto 10px auto;
  position: relative;
  width: 350px;
  height: 150px;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: 0px 0px 1px rgba(0,0,0,.5);
}

#slideshow .slide {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: white;
}

.slide-icon {
  float: left;
  margin: 28px 10px;
  width: 100px;
}

.slide-content p {
  font-size: 15px;
}
