@charset "UTF-8";
/* line 2, ../sass/_main.scss */
body.maintenance-page {
  background: #0068b3;
  font-family: "Open Sans",sans-serif;
}
/* line 6, ../sass/_main.scss */
body.maintenance-page #branding {
  background: #00599a;
}
/* line 9, ../sass/_main.scss */
body.maintenance-page #branding h1 {
  color: white;
}
/* line 13, ../sass/_main.scss */
body.maintenance-page .page-wrapper {
  width: 810px;
  margin: auto;
}
/* line 16, ../sass/_main.scss */
body.maintenance-page .page-wrapper #page {
  background: #eee;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 0px #002d4d;
}
/* line 24, ../sass/_main.scss */
body.maintenance-page .page-wrapper #page #sidebar-first ol.task-list {
  width: 180px;
}
/* line 26, ../sass/_main.scss */
body.maintenance-page .page-wrapper #page #sidebar-first ol.task-list li {
  border-bottom: 2px solid #bdc9d1;
  background: white;
  margin-bottom: 8px;
  color: black;
}
/* line 32, ../sass/_main.scss */
body.maintenance-page .page-wrapper #page #sidebar-first ol.task-list li.done {
  background-image: none;
  color: #adadad;
  position: relative;
  padding: 0.5em 20px 0.5em 20px;
}
/* line 38, ../sass/_main.scss */
body.maintenance-page .page-wrapper #page #sidebar-first ol.task-list li.done::before {
  font-family: "FontAwesome";
  content: "";
  font-size: 15px;
  color: #4a8b4a;
  display: block;
  position: absolute;
  right: -5px;
  top: -4px;
  background: white;
  padding: 2px 5px;
  border-radius: 50px;
}
/* line 52, ../sass/_main.scss */
body.maintenance-page .page-wrapper #page #sidebar-first ol.task-list li.active {
  background: #0070bb;
  border-bottom: 2px solid #00426e;
  color: white;
}
/* line 68, ../sass/_main.scss */
body.maintenance-page .page-wrapper #page #content table tr.ok {
  border-left: 5px solid #779857;
  background: #f2f5ee;
}
/* line 72, ../sass/_main.scss */
body.maintenance-page .page-wrapper #page #content table tr.error {
  border-left: 5px solid red;
  background: #fff5f5;
}
/* line 78, ../sass/_main.scss */
body.maintenance-page .page-wrapper #page #content fieldset {
  background: white;
  border: none;
  border-bottom: 3px solid #CDCDCD;
}
/* line 83, ../sass/_main.scss */
body.maintenance-page .page-wrapper #page #content .features-content-gcl {
  margin-top: 30px;
}
/* line 88, ../sass/_main.scss */
body.maintenance-page .page-wrapper .logo-wrapper {
  width: auto;
  float: right;
}
/* line 92, ../sass/_main.scss */
body.maintenance-page .page-wrapper .logo-wrapper .logo-tifon {
  text-align: left;
  margin-top: 20px;
}
/* line 95, ../sass/_main.scss */
body.maintenance-page .page-wrapper .logo-wrapper .logo-tifon p {
  color: #cccccc;
  margin-bottom: 0px;
}
/* line 104, ../sass/_main.scss */
body.maintenance-page input.form-submit {
  background: none;
  font-size: 14px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0070BB', endColorstr='#FF003355');
  background-color: #0070bb;
  border: 0;
  color: white;
  text-shadow: #00243b 0 -1px 0;
}
/* line 15, ../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.maintenance-page input.form-submit:hover {
  text-decoration: none;
}
/* line 42, ../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.maintenance-page input.form-submit:hover {
  background-color: #0061a2;
}
/* line 44, ../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.maintenance-page input.form-submit:active {
  background-color: #005892;
}
/* line 6, ../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body.maintenance-page input.form-submit.disabled, body.maintenance-page input.form-submit[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: false;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
body.maintenance-page input.form-submit::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/**
 * Forms
 */
/* line 116, ../sass/_main.scss */
body.maintenance-page #page input[type="text"],
body.maintenance-page #page input[type="password"] {
  height: 22px;
  border: 1px solid #BABABA;
}
/* line 121, ../sass/_main.scss */
body.maintenance-page #page .form-item input.error,
body.maintenance-page #page .form-item textarea.error,
body.maintenance-page #page .form-item select.error {
  border: 2px solid #ea3b45;
}

/**
 * Messages
 */
/* line 133, ../sass/_main.scss */
body.maintenance-page .messages {
  padding-left: 10px;
  background-image: none;
}
/* line 136, ../sass/_main.scss */
body.maintenance-page .messages.error {
  border: 1px solid #ea3b45;
  border-left: 6px solid #ea3b45;
}
/* line 141, ../sass/_main.scss */
body.maintenance-page .messages.warning {
  border: 1px solid #EDB24F;
  border-left: 6px solid #EDB24F;
}
/* line 146, ../sass/_main.scss */
body.maintenance-page .messages.status {
  border: 1px solid #779857;
  border-left: 6px solid #779857;
  background: #dde7d4;
  color: #11160d;
}
/* line 153, ../sass/_main.scss */
body.maintenance-page .messages.completed {
  display: none;
}

/* line 3, ../sass/_elements.scss */
body.maintenance-page .form-type-checkboxes,
body.maintenance-page .form-type-checkbox {
  margin: 10px 0px;
}
/* line 7, ../sass/_elements.scss */
body.maintenance-page .form-type-checkboxes label,
body.maintenance-page .form-type-checkbox label {
  display: inline-block;
  position: relative;
  font-weight: bold;
  padding-left: 5px;
  font-size: 1.1em;
  cursor: pointer;
}
/* line 15, ../sass/_elements.scss */
body.maintenance-page .form-type-checkboxes label::before,
body.maintenance-page .form-type-checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -21px;
  border: 1px solid #A6A6A6;
  border-radius: 3px;
  background-color: #fff;
  -moz-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
/* line 29, ../sass/_elements.scss */
body.maintenance-page .form-type-checkboxes label::after,
body.maintenance-page .form-type-checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: black;
}
/* line 44, ../sass/_elements.scss */
body.maintenance-page .form-type-checkboxes input[type="checkbox"],
body.maintenance-page .form-type-checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
}
/* line 52, ../sass/_elements.scss */
body.maintenance-page .form-type-checkboxes input[type="checkbox"]:checked + label::after,
body.maintenance-page .form-type-checkbox input[type="checkbox"]:checked + label::after {
  font-family: "FontAwesome";
  content: "";
}
/* line 57, ../sass/_elements.scss */
body.maintenance-page .form-type-checkboxes input[type="checkbox"]:disabled + label,
body.maintenance-page .form-type-checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
/* line 60, ../sass/_elements.scss */
body.maintenance-page .form-type-checkboxes input[type="checkbox"]:disabled + label::before,
body.maintenance-page .form-type-checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eee;
  cursor: not-allowed;
}
/* line 68, ../sass/_elements.scss */
body.maintenance-page .form-type-checkboxes.checkbox-circle label::before,
body.maintenance-page .form-type-checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
/* line 72, ../sass/_elements.scss */
body.maintenance-page .form-type-checkboxes.checkbox-inline,
body.maintenance-page .form-type-checkbox.checkbox-inline {
  margin-top: 0;
}
/* line 76, ../sass/_elements.scss */
body.maintenance-page .form-type-checkboxes.checkbox-single label,
body.maintenance-page .form-type-checkbox.checkbox-single label {
  height: 17px;
}
/* line 3, ../sass/_mixins.scss */
body.maintenance-page .form-type-checkboxes input[type="checkbox"]:checked + label::before {
  background-color: #0070bb;
  border-color: #0070bb;
}
/* line 7, ../sass/_mixins.scss */
body.maintenance-page .form-type-checkboxes input[type="checkbox"]:checked + label::after {
  color: #fff;
}
/* line 3, ../sass/_mixins.scss */
body.maintenance-page .form-type-checkbox input[type="checkbox"]:checked + label::before {
  background-color: #0070bb;
  border-color: #0070bb;
}
/* line 7, ../sass/_mixins.scss */
body.maintenance-page .form-type-checkbox input[type="checkbox"]:checked + label::after {
  color: #fff;
}

/**
 * Radio Buttons
 */
/* line 92, ../sass/_elements.scss */
body.maintenance-page .form-type-radio {
  position: relative;
}
/* line 95, ../sass/_elements.scss */
body.maintenance-page .form-type-radio input[type="radio"]:checked + label::before {
  border-color: #0070bb;
}
/* line 99, ../sass/_elements.scss */
body.maintenance-page .form-type-radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
/* line 104, ../sass/_elements.scss */
body.maintenance-page .form-type-radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
/* line 119, ../sass/_elements.scss */
body.maintenance-page .form-type-radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 4px;
  top: 4px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
/* line 139, ../sass/_elements.scss */
body.maintenance-page .form-type-radio label::after {
  background-color: #0070bb;
}
/* line 142, ../sass/_elements.scss */
body.maintenance-page .form-type-radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
