/**
 * Generates a basic block of general purpose
 */
/**
 * Fonts mixins
 */
/**
 * General blocks style
 */
/* line 5, ../sass/base/_blocks.scss */
.block .block__title {
  font-size: 18px;
  line-height: 1em;
  font-weight: 500;
}

/* line 1, ../sass/base/_main.scss */
.l-content .content-wrapper,
.front.page-node .l-content .content-wrapper {
  background: #E6E6E6;
  padding: 0px;
}

/* line 9, ../sass/base/_main.scss */
.page-node .l-content .content-wrapper,
.page-user .l-content .content-wrapper {
  background: white;
  padding: 25px;
}

/**
 * CKEditor
 */
/* line 18, ../sass/base/_main.scss */
body.cke_editable.cke_editable_themed {
  background: white;
}

/**
 * Move sidebar to bottom or left...
 */
@media (min-width: 44em) {
  /* line 28, ../sass/base/_main.scss */
  .has-two-sidebars .l-content,
  .has-one-sidebar .l-content {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 31, ../sass/base/_main.scss */
  .has-two-sidebars .l-region-sidebars-wrapper,
  .has-one-sidebar .l-region-sidebars-wrapper {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 70em) {
  /* line 39, ../sass/base/_main.scss */
  .has-two-sidebars .l-content,
  .has-one-sidebar .l-content {
    width: 68.35443%;
    float: left;
    margin-right: 1.26582%;
  }
  /* line 42, ../sass/base/_main.scss */
  .has-two-sidebars .l-region-sidebars-wrapper,
  .has-one-sidebar .l-region-sidebars-wrapper {
    width: 30.37975%;
    float: right;
    margin-right: 0;
  }
}
/**
 * tabledrag-handle
 */
/* line 51, ../sass/base/_main.scss */
.tabledrag-handle {
  display: block;
  width: 25px;
  height: 25px;
}
/* line 56, ../sass/base/_main.scss */
.tabledrag-handle .handle {
  height: 25px;
  width: 25px;
}

/* line 65, ../sass/base/_main.scss */
.page-node-add .field-type-image.field-widget-image-image .image-widget.form-managed-file .image-preview,
.page-node-edit .field-type-image.field-widget-image-image .image-widget.form-managed-file .image-preview {
  max-width: 19%;
}
/* line 68, ../sass/base/_main.scss */
.page-node-add .field-type-image.field-widget-image-image .image-widget.form-managed-file .image-widget-data,
.page-node-edit .field-type-image.field-widget-image-image .image-widget.form-managed-file .image-widget-data {
  max-width: 80%;
}

/* line 1, ../sass/base/_sidebars.scss */
/* line 76, ../sass/base/_main.scss */
.front div.l-region-sidebars-wrapper {
  margin-top: 0px;
}

/**
 * Imagefield crop
 */
/* line 84, ../sass/base/_main.scss */
.imagefield-crop-widget.form-managed-file img {
  max-width: none;
}

/* Animated throbber fix */
/* line 90, ../sass/base/_main.scss */
html.js .form-autocomplete {
  background-image: url("../images/throbber_gob_cl.gif");
  background-position: 100% 10px;
  background-repeat: no-repeat;
}

/* line 96, ../sass/base/_main.scss */
html.js .throbbing {
  background-position: 100% -17px;
}

/**
 * Style for general nodes
 */
/* line 6, ../sass/base/_node.scss */
.field--name-field-related-content > .field__items > .field__item {
  width: 190px;
  display: inline-block;
  vertical-align: top;
  font-size: 1em;
  margin-right: 1em;
  margin-bottom: 10px;
  border-bottom: 3px solid #c0bfbf;
}
/* line 15, ../sass/base/_node.scss */
.field--name-field-related-content > .field__items > .field__item article {
  background: #e6e6e6;
}
/* line 17, ../sass/base/_node.scss */
.field--name-field-related-content > .field__items > .field__item article h2 {
  font-size: 1.3em;
  padding: 0px 15px;
  margin: 0px;
}
/* line 22, ../sass/base/_node.scss */
.field--name-field-related-content > .field__items > .field__item article p {
  font-size: 0.8em;
  margin: 0px;
}
/* line 26, ../sass/base/_node.scss */
.field--name-field-related-content > .field__items > .field__item article img {
  width: 100%;
  height: auto;
}
/* line 30, ../sass/base/_node.scss */
.field--name-field-related-content > .field__items > .field__item article .node__content {
  margin: 0px;
}
/* line 33, ../sass/base/_node.scss */
.field--name-field-related-content > .field__items > .field__item article .field--type-text-with-summary {
  padding: 0px 15px 15px;
}
/* line 36, ../sass/base/_node.scss */
.field--name-field-related-content > .field__items > .field__item article .field--name-field-news-image {
  margin: 0px;
}
/* line 39, ../sass/base/_node.scss */
.field--name-field-related-content > .field__items > .field__item article .date,
.field--name-field-related-content > .field__items > .field__item article .date-display-single {
  padding: 0px 15px;
  font-size: .7em;
  font-weight: bold;
}

/* line 4, ../sass/base/_node_event.scss */
.node-type-event .node__content .field--name-field-event-image {
  margin-bottom: 20px;
}
/* line 7, ../sass/base/_node_event.scss */
.node-type-event .node__content .field--name-field-event-dates {
  float: left;
  margin: 5px 30px 20px 0px;
  border-left: 5px solid #073256;
  box-shadow: 0px 2px 5px #AEABAB;
  padding: 20px 20px 20px 70px;
  background: url("../images/calendar.png") no-repeat 10px 50%;
  background-color: #0f69b4;
  color: white;
}

/* line 2, ../sass/base/_node_news.scss */
.node-type-news .field--name-field-news-image {
  margin: -25px -25px 0px;
}

/* line 1, ../sass/base/_sidebars.scss */
.front .l-region-sidebars-wrapper {
  margin-top: 55px;
}

/* line 7, ../sass/base/_sidebars.scss */
.l-region.l-region--sidebar-first .view-content .views-row,
.l-region.l-region--sidebar-second .view-content .views-row {
  max-width: 100%;
}

/* line 1, ../sass/components/_block-news.scss */
#block-views-news-list-block {
  background: #E6E6E6;
}
/* line 4, ../sass/components/_block-news.scss */
#block-views-news-list-block .views-row {
  background: white;
  margin-bottom: 20px;
  border-bottom: 2px solid #bdc9d1;
}
/* line 11, ../sass/abstractions/_mixins.scss */
#block-views-news-list-block .views-row h2.block__title {
  font-size: 18px;
  line-height: 1em;
  font-weight: 500;
  margin: 0 auto 15px;
  color: #0f69b4;
}
/* line 19, ../sass/abstractions/_mixins.scss */
#block-views-news-list-block .views-row section {
  display: inline-block;
  clear: none;
  vertical-align: top;
}
/* line 24, ../sass/abstractions/_mixins.scss */
#block-views-news-list-block .views-row section h2,
#block-views-news-list-block .views-row section h2 a {
  font-size: 22px;
  color: #0f69b4;
  line-height: 100%;
}
/* line 31, ../sass/abstractions/_mixins.scss */
#block-views-news-list-block .views-row section h2 {
  margin-bottom: 0.3em;
}
/* line 35, ../sass/abstractions/_mixins.scss */
#block-views-news-list-block .views-row section.news-info {
  padding-top: 1em;
  padding-left: 1em;
}
/* line 40, ../sass/abstractions/_mixins.scss */
#block-views-news-list-block .views-row section.news-info .date {
  font-weight: normal;
  color: #787878;
  font-size: 11px;
  margin-bottom: 0.5em;
}
/* line 48, ../sass/abstractions/_mixins.scss */
#block-views-news-list-block .views-row img {
  display: block;
}
/* line 52, ../sass/abstractions/_mixins.scss */
#block-views-news-list-block .views-row .news-image {
  display: none;
}
@media (min-width: 44em) {
  /* line 52, ../sass/abstractions/_mixins.scss */
  #block-views-news-list-block .views-row .news-image {
    display: inline-block;
  }
}
@media (min-width: 70em) {
  /* line 52, ../sass/abstractions/_mixins.scss */
  #block-views-news-list-block .views-row .news-image {
    display: inline-block;
  }
}
@media (min-width: 44em) {
  /* line 65, ../sass/abstractions/_mixins.scss */
  #block-views-news-list-block .views-row .news-info {
    width: calc(100% - 330px);
  }
}

/* line 10, ../sass/components/_block-news.scss */
.view-news-list .views-row {
  background: white;
  margin-bottom: 20px;
  border-bottom: 2px solid #bdc9d1;
}
/* line 11, ../sass/abstractions/_mixins.scss */
.view-news-list .views-row h2.block__title {
  font-size: 18px;
  line-height: 1em;
  font-weight: 500;
  margin: 0 auto 15px;
  color: #0f69b4;
}
/* line 19, ../sass/abstractions/_mixins.scss */
.view-news-list .views-row section {
  display: inline-block;
  clear: none;
  vertical-align: top;
}
/* line 24, ../sass/abstractions/_mixins.scss */
.view-news-list .views-row section h2,
.view-news-list .views-row section h2 a {
  font-size: 22px;
  color: #0f69b4;
  line-height: 100%;
}
/* line 31, ../sass/abstractions/_mixins.scss */
.view-news-list .views-row section h2 {
  margin-bottom: 0.3em;
}
/* line 35, ../sass/abstractions/_mixins.scss */
.view-news-list .views-row section.news-info {
  padding-top: 1em;
  padding-left: 1em;
}
/* line 40, ../sass/abstractions/_mixins.scss */
.view-news-list .views-row section.news-info .date {
  font-weight: normal;
  color: #787878;
  font-size: 11px;
  margin-bottom: 0.5em;
}
/* line 48, ../sass/abstractions/_mixins.scss */
.view-news-list .views-row img {
  display: block;
}
/* line 52, ../sass/abstractions/_mixins.scss */
.view-news-list .views-row .news-image {
  display: none;
}
@media (min-width: 44em) {
  /* line 52, ../sass/abstractions/_mixins.scss */
  .view-news-list .views-row .news-image {
    display: inline-block;
  }
}
@media (min-width: 70em) {
  /* line 52, ../sass/abstractions/_mixins.scss */
  .view-news-list .views-row .news-image {
    display: inline-block;
  }
}
@media (min-width: 44em) {
  /* line 65, ../sass/abstractions/_mixins.scss */
  .view-news-list .views-row .news-info {
    width: calc(100% - 330px);
  }
}

/* line 1, ../sass/components/_block_banners.scss */
.l-region div.block--views-banner-block-block {
  padding: 0px;
  background: #E6E6E6;
  border-bottom: none;
}
/* line 6, ../sass/components/_block_banners.scss */
.l-region div.block--views-banner-block-block .view-content {
  text-align: center;
}
/* line 8, ../sass/components/_block_banners.scss */
.l-region div.block--views-banner-block-block .view-content .views-row {
  margin-bottom: 20px;
  display: inline-block;
}
/* line 12, ../sass/components/_block_banners.scss */
.l-region div.block--views-banner-block-block .view-content .views-row img {
  display: block;
}

/**
 * CSS for block view: News Featured
 */
/* line 10, ../sass/components/_block_news_featured.scss */
.block--views-news-list-block-1 .view-content .views-row .views-field-field-news-image img {
  width: 100%;
}
/* line 14, ../sass/components/_block_news_featured.scss */
.block--views-news-list-block-1 .view-content .views-row .views-field-title {
  margin-top: 15px;
  display: block;
  padding: 0px 15px;
}
/* line 18, ../sass/components/_block_news_featured.scss */
.block--views-news-list-block-1 .view-content .views-row .views-field-title .field-content {
  font-size: 22px;
  line-height: 1.2em;
  font-weight: 500;
}
/* line 22, ../sass/components/_block_news_featured.scss */
.block--views-news-list-block-1 .view-content .views-row .views-field-title .field-content a {
  color: #0f69b4;
}
/* line 28, ../sass/components/_block_news_featured.scss */
.block--views-news-list-block-1 .view-content .views-row .views-field-created {
  margin-top: 15px;
  display: block;
  padding: 0px 15px;
}
/* line 32, ../sass/components/_block_news_featured.scss */
.block--views-news-list-block-1 .view-content .views-row .views-field-created .field-content {
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 700;
  color: #7a8791;
  display: block;
  font-size: 12px;
  margin: 0 0 15px;
}
/* line 37, ../sass/components/_block_news_featured.scss */
.block--views-news-list-block-1 .view-content .views-row .views-field-field-news-description {
  display: block;
  padding: 0px 15px;
}
/* line 40, ../sass/components/_block_news_featured.scss */
.block--views-news-list-block-1 .view-content .views-row .views-field-field-news-description .field-content p {
  line-height: 150%;
}
/* line 46, ../sass/components/_block_news_featured.scss */
.block--views-news-list-block-1 .view-content .views-row .views-field-service-links {
  padding: 15px;
  clear: both;
}
/* line 49, ../sass/components/_block_news_featured.scss */
.block--views-news-list-block-1 .view-content .views-row .views-field-service-links ul {
  padding: 0px;
}
/* line 51, ../sass/components/_block_news_featured.scss */
.block--views-news-list-block-1 .view-content .views-row .views-field-service-links ul li {
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 44em) {
  /* line 59, ../sass/components/_block_news_featured.scss */
  .block--views-news-list-block-1 .view-content .views-row .views-field-title {
    float: left;
    width: 50%;
  }
  /* line 63, ../sass/components/_block_news_featured.scss */
  .block--views-news-list-block-1 .view-content .views-row .views-field-field-news-description,
  .block--views-news-list-block-1 .view-content .views-row .views-field-created {
    float: right;
    width: 50%;
  }
}
/* line 70, ../sass/components/_block_news_featured.scss */
.block--views-news-list-block-1 .view-content .views-row::after {
  content: "";
  display: block;
  clear: both;
}

/**
 * General calendar designs
 */
/* line 5, ../sass/components/_calendar.scss */
.view .date-nav-wrapper ul.pager {
  list-style: none;
}
/* line 7, ../sass/components/_calendar.scss */
.view .date-nav-wrapper ul.pager li.date-prev,
.view .date-nav-wrapper ul.pager li.date-next {
  list-style: none;
}
/* line 10, ../sass/components/_calendar.scss */
.view .date-nav-wrapper ul.pager li.date-prev a,
.view .date-nav-wrapper ul.pager li.date-next a {
  padding: 2px 5px;
}

/**
 * Block
 * List Events
 */
/* line 21, ../sass/components/_calendar.scss */
.block.block--views-gcl-event-calendar-block-2 {
  padding: 0px;
  background: #E6E6E6;
  border: none;
}
/* line 26, ../sass/components/_calendar.scss */
.block.block--views-gcl-event-calendar-block-2 .block__title {
  padding: 15px 20px;
  margin: 0px;
  background: #0f69b4;
  border-bottom: 2px solid #073256;
  color: white;
}
/* line 37, ../sass/components/_calendar.scss */
.block.block--views-gcl-event-calendar-block-2 .view-content .item-list ul {
  margin: 0px;
  padding: 0px;
}
/* line 40, ../sass/components/_calendar.scss */
.block.block--views-gcl-event-calendar-block-2 .view-content .item-list ul .views-row {
  margin: 0px;
  margin-top: 10px;
  list-style: none;
  padding: 5px 10px;
  border-bottom: 2px solid #bdc9d1;
  border-left: 5px solid #0f69b4;
  background: #f7f7f7;
  transition: background .3s;
}
/* line 50, ../sass/components/_calendar.scss */
.block.block--views-gcl-event-calendar-block-2 .view-content .item-list ul .views-row:hover {
  background: white;
}
/* line 54, ../sass/components/_calendar.scss */
.block.block--views-gcl-event-calendar-block-2 .view-content .item-list ul .views-row .views-field-title-field a {
  color: #0f69b4;
  font-size: 16px;
  display: block;
  padding: 10px 0px;
}
/* line 60, ../sass/components/_calendar.scss */
.block.block--views-gcl-event-calendar-block-2 .view-content .item-list ul .views-row .views-field-field-event-dates {
  padding-bottom: 10px;
}

/**
 * Block
 * Calendar
 */
/* line 79, ../sass/components/_calendar.scss */
.block--views-gcl-event-calendar-block-1 .view-gcl-event-calendar .view-header .date-nav .date-heading h3 {
  font-size: 1.3em;
}
/* line 84, ../sass/components/_calendar.scss */
.block--views-gcl-event-calendar-block-1 .view-gcl-event-calendar .view-header .date-nav .pager .date-prev {
  left: 5px;
  right: auto;
  list-style: none;
}
/* line 89, ../sass/components/_calendar.scss */
.block--views-gcl-event-calendar-block-1 .view-gcl-event-calendar .view-header .date-nav .pager .date-next {
  list-style: none;
}
/* line 92, ../sass/components/_calendar.scss */
.block--views-gcl-event-calendar-block-1 .view-gcl-event-calendar .view-header .date-nav .pager .date-next,
.block--views-gcl-event-calendar-block-1 .view-gcl-event-calendar .view-header .date-nav .pager .date-prev {
  background: white;
  border: 1px solid #0F69B4;
  color: #0F69B4;
}
/* line 99, ../sass/components/_calendar.scss */
.block--views-gcl-event-calendar-block-1 .view-gcl-event-calendar .view-header .date-nav .pager .date-next a,
.block--views-gcl-event-calendar-block-1 .view-gcl-event-calendar .view-header .date-nav .pager .date-prev a {
  margin: 0px;
  padding: 2px 10px;
  font-size: 1.5em;
  line-height: 1em;
}
/* line 115, ../sass/components/_calendar.scss */
.block--views-gcl-event-calendar-block-1 .view-gcl-event-calendar .view-content .calendar-calendar table.mini thead tr th {
  background: white;
  border: none;
  border-bottom: 1px solid #777;
}
/* line 125, ../sass/components/_calendar.scss */
.block--views-gcl-event-calendar-block-1 .view-gcl-event-calendar .view-content .calendar-calendar table.mini tbody tr td {
  text-align: center;
  padding: 3px;
}
/* line 128, ../sass/components/_calendar.scss */
.block--views-gcl-event-calendar-block-1 .view-gcl-event-calendar .view-content .calendar-calendar table.mini tbody tr td a,
.block--views-gcl-event-calendar-block-1 .view-gcl-event-calendar .view-content .calendar-calendar table.mini tbody tr td .mini-day-off {
  display: block;
  padding: 3px 1px;
  text-decoration: none;
}
/* line 141, ../sass/components/_calendar.scss */
.block--views-gcl-event-calendar-block-1 .view-gcl-event-calendar .view-content .calendar-calendar table.mini tbody tr td.today {
  background: white;
}
/* line 143, ../sass/components/_calendar.scss */
.block--views-gcl-event-calendar-block-1 .view-gcl-event-calendar .view-content .calendar-calendar table.mini tbody tr td.today .month {
  background: #e6e6e6;
  font-weight: bold;
}
/* line 152, ../sass/components/_calendar.scss */
.block--views-gcl-event-calendar-block-1 .view-gcl-event-calendar .view-content .calendar-calendar table.mini tbody tr td.has-events a {
  background: #0F69B4;
  color: white;
}
/* line 157, ../sass/components/_calendar.scss */
.block--views-gcl-event-calendar-block-1 .view-gcl-event-calendar .view-content .calendar-calendar table.mini tbody tr td.has-events a:hover {
  background: #1177cc;
}

/**
 * General
 */
/* line 5, ../sass/components/_service_links.scss */
.links.links--inline.node__links {
  margin: 20px 0px;
}

/**
 * Services list
 */
/**
 * General
 */
/* line 8, ../sass/components/_services.scss */
article.node--service {
  border-bottom: 2px solid #bdc9d1;
  background: #f2f2f2;
  display: inline-block;
  vertical-align: top;
  width: 280px;
  margin: 0px 10px 10px;
  transition: opacity .3s;
}
/* line 18, ../sass/components/_services.scss */
article.node--service header {
  height: 180px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 23, ../sass/components/_services.scss */
article.node--service header .title-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 27, ../sass/components/_services.scss */
article.node--service header .title-wrapper h2 {
  font-size: 2em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 32, ../sass/components/_services.scss */
article.node--service header .title-wrapper h2 a {
  color: white;
  text-shadow: 0px 0px 10px black;
}
/* line 39, ../sass/components/_services.scss */
article.node--service .info {
  padding: 5px 15px;
}
/* line 43, ../sass/components/_services.scss */
article.node--service:hover {
  opacity: .8;
}

/**
 * Style for node full
 */
/* line 51, ../sass/components/_services.scss */
article.node--service.node--full {
  display: block;
  margin: auto;
}

/**
 * Block
 */
/* line 60, ../sass/components/_services.scss */
div.block.block--views-service-list-block {
  background: transparent;
  border: none;
}
/* line 64, ../sass/components/_services.scss */
div.block.block--views-service-list-block .view-service-list.view-display-id-block .view-content .views-row {
  display: inline-block;
}
